/*  your css code here. If applicable */


body{
	font-style:oblique;
	margin:20px;
	padding:20px;
	align-items:center;
	justify-content:center;
	height:500px;
	background-color:lightblue;
}
.image{
	width:100%;
	padding:20px
	fill-box:100;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	border-radius:60px;
	text-align:center;
}
.text{
	text-align:center;
	
}

